{% extends "layout_crypto.html" %}
{%  block content %}
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Change % (Last 24h)</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Change % (Last 24h)</th>
            </tr>
        </tfoot>
        <tbody>
            {% for article in object_list %}
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.quotes.USD.price }}</td>
                <td>{{ article.quotes.USD.percent_change_24h }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}